# Copy to .env to override local Docker Compose defaults.

POSTGRES_USER=pulse_fx
POSTGRES_PASSWORD=pulse_fx
POSTGRES_DB=pulse_fx
POSTGRES_PORT=5433

API_PORT=3333
WEBAPP_PORT=4200

FRED_API_KEY=4f0df61b87a8c36be750f7aa14a16465
